/*Обнулення*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #333;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
a {
  color: #794f45;
}
h1 {
  font-size: 40px;
  margin: 0px 0px 50px 0px;
}
h2 {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}
p {
  margin: 20px 0;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}



.content {
  padding: 30px 3%;
}
.content__block {
  margin: 0px 0px 50px 0px;
}
/* Основні стилі */

/* 2D */
.content__2D .content__block div {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  text-align: center;
  width: 150px;
  height: 150px;
  transition: all 0.8s ease 0s;
}


.content__translate {
    background-color: blue;
    transform: translate(0, 0);
    color: black;

}


.content__translate:hover {
    background-color: yellow;
    transform: translate(50px, -15px);
color: blue;
}

.content__scale {
    background-color: rgb(234, 0, 255);
    transform: scale(1, 1);
    color: black;
}


.content__scale:hover {
    background-color: rgb(9, 255, 0);
    transform: scale(1.4, 1.2);
    color: yellow;
}

.content__rotate {
    background-color: rgb(255, 0, 0);
    transform: rotate(0deg);
    color: black;
}


.content__rotate:hover {
    background-color: gray;
    transform: rotate(20deg);
    color: white;
}

.content__skew {
    background-color: aqua;
    transform: skew(0, 0);
    
}

.content__skew:hover {
    background-color: #794f45;
    transform: skew(25deg, 15deg);
}

.content__matrix {
    background-color: crimson;
    transform: matrix();
}

.content__matrix:hover {
    background-color: darkred;
    transform: matrix(3, -1, 1, -2, 2, 1);
}


.content__multi {
    background-color: antiquewhite;
    color: black;
}

.content__multi:hover {
    background-color: darkviolet;
    transform: rotate(5deg) translate(10px, -20px) scale(1.2, 1.5) ;
}

.content__transform-origin {
    background-color: lime; 
    transform: rotate();
}

.content__transform-origin:hover {
    background-color: black;
    transform: rotate(360deg);
    transform-origin: top left;
}


.content__perspective {
    display: flex;
    background-color: tomato;
    width: 150px;
    height: 150px;
    color: black;
    justify-content: center;
    align-items: center;
    transition-duration: 350ms;
    transition-property: transform;

}

.content__perspective:hover {
    transform: rotate(50deg);
}


.content__wrapper3d div {
    display: flex;
    justify-content: center;
    align-items: center;
width: 150px;
height: 150px;
transition-property: transform;
transition-duration: 250ms;
 }

.content__wrapper3d {
    perspective: 400px;
    perspective-origin: top left;
}

.content__wrapper3d:hover {

} 


.scena {
    width: 300px;
    height: 300px;
    border: solid red;
    perspective: 600px;
    
}

.box {
    height: 100%;
    background-color: chocolate;
    background-image: url(./multfilm_lyagushka_32117.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: transform;
    transition-duration: 500ms;
}

.scena:hover .box {
    transform: rotateY(180deg);
}


.content__translate3D {
    background-color: brown;
    
    
}


.content__translate3D:hover {
  transform: translate3d(15px, 31px, 66px);
  
}



.content__scale3D {
    background-color: cyan;
}


.content__scale3D:hover {
    transform: scale3d(2, 2, 15);
}


.content__rotate3d {
    background-color:  red;

}


.content__rotate3d:hover {
    transform: rotate3d(1, 1.5, 1, 50deg);
}