.box3 {
    width: 330px;
    height: 110px;
    background-color: rgb(43, 255, 0, 0.7) ;
    border: rgb(0, 0, 0) solid ;
    border-radius: 5px;
    font-size: 40px;
    transition-property: background-color, color, font-size;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(.71,.26,.53,.78) ;
    
}

.box3:hover {
    background-color: aqua;
    color: yellow;
    font-size: 45px;
    transition-delay: 200ms;
    
}

.box4 {
    width: 300px;
    height: 300px;
    background-color: darkkhaki;
    transform: translate(0px, 0px);
    transition-duration: 500ms;
}


.box4:hover {
/* transform: translate(50px, 30px); */
transform: translateX(50px);
}


.box5 {
    width: 300px;
    height: 300px;
    background-color: rgb(4, 0, 255);
    transform: scale(50%);
    transition-duration: 500ms;

}


.box5:hover {
    transform: scale(10%);
}


.box6 {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 255, 13);
    transform: rotate(30deg);
    transition-duration: 500ms;
}



.box6:hover {
    transform: rotate(300deg);
}


.fill-text {
  font-size: 2em;
  font-weight: bold;
  color: transparent;
  position: relative;
}

.fill-text::before {
  content: attr(data-text);
  content: "Київ, вул. Хрещатик, 10";
  position: absolute;
  top: 0;
  left: 0;
  color: #00aaff;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(0 100% 0 0);
  animation: fillColor 3s linear forwards;
}

@keyframes fillColor {
  0% { clip-path: inset(0 100% 0 0); }
  100% { clip-path: inset(0 0 0 0); }
}




