.box {
    width: 300px;
    height: 300px;
    background-color: blue;
border: 5px solid red;
border-radius: 100px;
overflow: hidden;
}

.img {
    width: 300px;
    height: 300px;
    
    display: block;
}


.box2 {
    width: 500px;
    height: 500px;
    border: solid 5px purple;
    overflow: scroll;
}